<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Layout</title>
    <link rel="stylesheet" href="./style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <div class="container">
      <header>
        <div class="head-container header-image">
          <a href="#linkin"> <img src="./Images/AIM.png" alt="MP Logo" /></a>

          <nav>
            <div class="links">
              <span class="home"><a href="#" target="_blank">Home</a></span>
              <a href="#" target="_blank">About</a>
              <a href="#" target="_blank">Services</a>
              <a href="#" target="_blank">Contact</a>
              <a href="#" target="_blank">Login</a>
            </div>
          </nav>
        </div>
      </header>

      <section>
        <div class="section">
          <h3>Our Clients</h3>
          <hr />
          <div class="maincontent">
            <div class="row maincontent">
              <div class="link column">
                <a href="https://en.wikipedia.org/wiki/Google" target="_blank"
                  ><img
                    src="/Top 5 Companies/Images/Google.png"
                    alt="Google Image"
                /></a>
                <div class="text">
                  <a href="https://en.wikipedia.org/wiki/Google" target="_blank"
                    >Google</a
                  >
                </div>
              </div>

              <div class="link column">
                <a href="https://en.wikipedia.org/wiki/Amazon" target="_blank"
                  ><img
                    src="/Top 5 Companies/Images/Amazon.png"
                    alt="Amazon Image"
                /></a>
                <div class="text">
                  <a href="https://en.wikipedia.org/wiki/Amazon" target="_blank"
                    >Amazon</a
                  >
                </div>
              </div>

              <div class="link column">
                <a href="https://en.wikipedia.org/wiki/IPhone" target="_blank"
                  ><img
                    src="/Top 5 Companies/Images/Iphone.png"
                    alt="Iphone Image"
                /></a>
                <div class="text">
                  <a href="https://en.wikipedia.org/wiki/IPhone" target="_blank"
                    >Iphone</a
                  >
                </div>
              </div>
            </div>
            <div class="row maincontent">
              <div class="link column">
                <a href="https://en.wikipedia.org/wiki/Accentur" target="_blank"
                  ><img
                    src="/Top 5 Companies/Images/Accenture.png"
                    alt="Accenture Image"
                /></a>
                <div class="text">
                  <a
                    href="https://en.wikipedia.org/wiki/Accenture"
                    target="_blank"
                    >Accenture</a
                  >
                </div>
              </div>

              <div class="link column">
                <a href="https://en.wikipedia.org/wiki/IBM" target="_blank"
                  ><img src="/Top 5 Companies/Images/IBM.png" alt="IBM Image"
                /></a>
                <div class="text">
                  <a href="https://en.wikipedia.org/wiki/IBM" target="_blank"
                    >IBM</a
                  >
                </div>
              </div>

              <div class="link column">
                <a
                  href="https://en.wikipedia.org/wiki/Microsoft"
                  target="_blank"
                  ><img
                    src="/Top 5 Companies/Images/Microsoft.png"
                    alt="Microsoft Image"
                /></a>
                <div class="text">
                  <a
                    href="https://en.wikipedia.org/wiki/Microsoft"
                    target="_blank"
                    >Google</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <a href="#" class="top">Back to Top &#8593;</a>

      <footer>
        <div class="footer-content">
          <h3>Copyright &copy; 2023 AIM Technologies</h3>
          <h4>All Rights reserved</h4>
          <h5><a href="#" target="_blank">Terms of Use</a></h5>
          <p>
            <b>Contact us :</b>
            <span class="linkin" id="linkin"
              ><a href="#" target="_blank" class="fa fa-linkedin"></a
            ></span>
            <a href="#" target="_blank" class="fa fa-google"></a>
            <a href="#" target="_blank" class="fa fa-twitter"></a>
            <a href="#" target="_blank" class="fa fa-instagram"></a>
          </p>
        </div>
      </footer>
    </div>
  </body>
</html>
